.para {
    /* The image used */
   
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("profile/img_parallax11.jpg");
    /* Set a specific height */
    height: 142vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.paralla {
    /* The image used */
   
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("profile/parallax21.jpg");
    /* Set a specific height */
    height: 65vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parallax {
    /* The image used */
   
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("profile/parallax31.jpg");
    /* Set a specific height */
    height: 65vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.inter{
  text-align: center;
  display: inline-block;
  
  background-color: #282e34;
  height: 170px;
  z-index: -1;
  width: 100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 460px;
  float:left;
  margin:100px 165px 50px 165px;
  text-align: center;
  font-family: arial;
}
.sym a{
transition: 0.2s;
}
.sym a:hover{
  font-size: 25px; 
}

.title {
  color: dark gray;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 18px;
}
.card img{
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}
.universities{
  font-size: 15px;
}
.sec{
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  background-color: white;
  height: 100px;
  z-index: -1;
  width: 100%;
}
.sec h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Baloo Bhaijaan', cursive;
}
.inter h1{
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  color: white;
  font-family: 'Baloo Bhaijaan', cursive;
}
button {
  border: none;
  outline: 0;
  display: block;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: -40px;
}

.a {
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 36px;
  color: black;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;}