.section {
  
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}


.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
.ass{
    border: 2px solid black;
    
    height:300px;
    width: 300px;
    margin-left: 400px;
    margin-top: 100px;
    transform: rotate(-45deg)translateY(15px);
    transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: linear;
  }
  .ass:hover{
    background-color: white;
    color: black;
    opacity: .8;    
  }
  
  .tag{
    color:white;
    margin-left: -300px;
    margin-right: 250px;
    margin-top: 500px;
    align-items: center;
  justify-content: center;
    position: relative;
    text-align: center;
  font-size: 5rem;
  color: black;
  font-family: "Cookie";
  }
  .ass2{
    border: 2px solid black;
    
    height:150px;
    width: 150px;
    margin-left: 600px;
    margin-top: -460px;
    transform: rotate(-45deg)translateY(15px);
    transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: linear;
  }
  .ass2:hover{
    background-color: white;
    color: black;
    opacity: .8;    
  }
  .ass3{
    border: 2px solid black;
    
    height:150px;
    width: 150px;
    margin-left: 340px;
    margin-top: 300px;
    transform: rotate(-45deg)translateY(15px);
    transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: linear;
  }.ass3:hover{
    background-color: white;
    color: black;
    opacity: .8;    
  }
  .s{
    border: 2px solid black;
    margin-top: -10px;

    height:300px;
    width: 300px;
    margin-left: -10px;
    
  }
  .s2{
    border: 2px solid black;
    margin-top: -10px;

    height:150px;
    width: 150px;
    margin-left: -10px;
    }
  .s3{
    border: 2px solid black;
    margin-top: -10px;

    height:150px;
    width: 150px;
    margin-left: -10px;
  
  }
  .font{
    text-align: center;
  font-size: 5rem;
  color: black;
  font-family: "Cookie";
  padding: 60px;
  margin: 15px;
  margin-left: -10px;
  z-index: 1;
  opacity: 1;
  transform: rotate(45deg)translateY(15px);
  transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: linear;
  }
  a{
    text-decoration: none;
  }
  .font2{
    text-align: center;
  font-size: 3rem;
  color: black;
  font-family: "Cookie";
  padding: 20px;
  margin: 10px;
  margin-left: 30px;
  z-index: 1;
  opacity: 1;
  transform: rotate(45deg)translateY(15px);
  transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: linear;
  }
  .font3{
    text-align: center;
  font-size: 3rem;
  color: black;
  font-family: "Cookie";
  padding: 20px;
  margin: 10px;
  margin-left: 30px;
  z-index: 1;
  opacity: 1;
  transform: rotate(45deg)translateY(15px);
  transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: linear;
  }
  .in{
    height:300px;
    width: 300px;
    margin-left: 400px;
    margin-top: 100px;
  }
  .ali{
    text-align: center;
    
    
    z-index: 2;
  }
  .tag a{
    color:black;
  }

  .bg {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:-120px; 
  margin-bottom: 20px;
}
.bg1 {
  
  
  background-size: cover;
  height: 0px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top: 80px;
}
.new{
  position: relative;
  font-size: 30px;
  font-family:"cookie";
  transition-property: font-size;
  transition-duration: .2s;
  transition-timing-function: linear;
  margin-top:320px;
  margin-left: -180px;

}
.new:hover{
  font-size: 35px;
  text-decoration: underline;
  text-decoration: bold;
}
input {
  background: rgba(255,255,255,0.4);
  border-radius: 10px;
  position: relative;
  display: block;
  outline: none;
  width: 400px;
  height: 25px;
  top: 250px;
  margin-top:20px;
  padding: 10px;
  color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }
.side{
  border-left:1px solid gray;
  z-index: 2;
  height: 70vh;
  margin-left: 350px;
}
.pop{
            display: inline-block;
            font-size: 20px;
            line-height: 120%;
            color:#18a4e2;
            border-color:black; 
            background-color: transparent;
            border:2px solid #18a4e2;
            padding: 10px 12px;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color ease 400ms;
            margin-top: 150px;
            margin-left: 100px;
            width:80px;
        }
        .pop:hover{
            color:white;
            background-color: rgba(154,211,253,0.3);

        }
        .pop1{
            display: inline-block;
            font-size: 20px;
            line-height: 120%;
            color:#18a4e2;
            border-color:black; 
            background-color: transparent;
            border:2px solid #18a4e2;
            padding: 10px 12px;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color ease 400ms;
            margin-top: 450px;
            margin-left: 100px;
            width:80px;
        }
        .pop1:hover{
            color:white;
            background-color: rgba(154,211,253,0.3);

        }
   .sign {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:-1200px; 
  margin-bottom: 20px;
}
.sign1 {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:70px; 
  margin-bottom: 20px;
}
.sign2 {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:70px; 
  margin-bottom: 20px;
}
.sign3 {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:70px; 
  margin-bottom: 20px;
}
.sign4 {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:70px; 
  margin-bottom: 20px;
}
.sign5 {
  
  display: block;
  background-size: cover;
  height: 00px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-top:70px; 
  margin-bottom: 20px;
}
.wrapper{
  margin-top: -350px;
}
.border{

 
  height: 100vh;
  margin-left: -150px;
}